{% embed "_stories/_blocks/_listicle" %}
{% block listicle %}
    <div class="flex justify-center">
        <div class="w-full md:w-1/2">
        {% include "_stories/_components/_single-product" with {'slide':block} %}
        </div>
    </div>
{% endblock %}
{% endembed %}