{% extends "_layouts/_generic" %}  

{# ------------------- main ------------------- #}
{% block main %}
{# track #}
{{ entry | views_work_image }}

{% set entry = craft.entries({
    section: 'story',
    slug: entry.slug,
    with: [
        'storyHeroImage',
        'storyCategory',
        'storyPrintIssue',
        'author',
        'author.photo'
    ]
}).one() %}

{# main section #}
<article>
    <section class="max-w-screen-md px-6 mx-auto ">
        <div class="self-center w-full py-12 lg:w-3/4">
        <div class="flex space-x-2">
            {% include "_components/_category-tag" with { category : entry.storyCategory } %}
            {% include "_components/_category-tag" with { category : entry.storyPrintIssue } %}
        </div>
        <h1 class="mt-4 font-serif text-4xl font-medium leading-tight tracking-tight lg:text-5xl">{{ entry.title }}</h1>
        <h2 class="mt-4 mb-4 text-2xl color-gray-900">{{ entry.storyStandfirst }}</h2>
        {% include "_components/_user" with { user: entry.author, date: entry.postDate } %}
    </section>
    <section class="max-w-screen-lg mx-auto">
            {% include "_components/_imager" with { image : entry.storyHeroImage[0] } %}
    </section>
    
    {# matrix #}
    {% if entry.storyContent |length %}
        {% for block in entry.storyContent %}
            {% switch block.type %}
                {% case 'richTextEditor' %}
                    {% include '_story/_components/_rich-text-editor' %}
                {% case 'gallery' %}
                    {% include '_story/_components/_gallery' %}
                {% case 'embed' %}
                    {% include '_story/_components/_embed' %}
                {% case 'imageHotspot' %}
                    {% include '_story/_components/_image-hotspot' %}
                {% case 'relatedStory' %}
                    {% include '_story/_components/_related-story' %}
                {#  
                {% case 'listicle' %}
                    {% include '_story/_component/_listlicle' %}
                {% case 'slider' %}
                    {% include '_story/_component/_slider' %}
                {% case 'relatedSpaListing' %}
                    {% include '_story/_component/_relatedSpaListing' %}
                {% case 'form' %}
                    {% include '_story/_component/_form' %}
                {% case 'faq' %}
                    {% include '_story/_component/_faq' %}                
                 #}
            {% endswitch %}
        {% endfor %}
    {% endif %}
    
</article>










{% endblock %}
