<div class="mt-4 js-swiper-spa-carousel swiper-container px-screen-lg">
	<div class="swiper-wrapper">
		{% for image in entry.spaGallery %}
        <div class="block swiper-slide" >
            {% include "_component/_imager" with {'image':image,'w':4, 'h':3, 'zoom': true } %}
        </div>
		{% endfor %}
	</div>
    <div class="flex items-center justify-end">
        <button class="swiper-prev">
            {% include "_component/_icon" with { 'icon':'arrow-left-48' } %}
        </button>
        <div class="relative bottom-0 inline w-auto mx-4 swiper-pagination swiper-pagination-fraction"></div>
        <button class="swiper-next">
            {% include "_component/_icon" with { 'icon':'arrow-right-48' } %}
        </button>
    </div>
</div>