<div class="flex flex-wrap items-center max-w-screen-lg pt-8 mx-auto px-edge">
    <div class="w-1/2 mb-6 md:mb-0 md:w-2/12">
        {% include "_component/_imager" with {'image':entry.spaLogo[0] ?? null } %}
    </div>
    <div class="w-full pb-8 space-y-2 md:pl-8 md:w-10/12">
        <h1 class="text-3xl font-hairline leading-tight tracking-wide font-headline lg:text-4xl">{{ entry.title }}</h1>
        <p class="flex space-x-1 text-gray-500">
            {% include "_component/_icon" with {'icon': 'map-pin-16'} %}
            <span>{{ entry.spaContactAddress }}</span>
        </p>
    </div>
</div>