<div class="space-y-4">   
    <h2 class="text-4xl font-hairline tracking-wide font-headline">Details</h2>
    {% include "_component/_hr" %}
    <div class="font-serif prose md:prose-lg">
    {{ entry.spaRichTextEditor}}
    </div>
</div>