<div class="mt-4 js-swiper-spa-carousel swiper-container px-screen-lg">
	<div class="swiper-wrapper">
		{% for image in entry.spaGallery %}
        <div class="block swiper-slide" >
            {% include "_component/_imager" with {'image':image, 'zoom': true } %}
        </div>
		{% endfor %}
	</div>
    <div class="text-right">
        <button class="swiper-prev">
            {% include "_component/_icon" with { 'icon':'icon-arrow-left','h':32,'w':32 } %}
        </button>
        <div class="relative inline mx-4 swiper-pagination"></div>
        <button class="swiper-next">
            {% include "_component/_icon" with { 'icon':'icon-arrow-right','h':32,'w':32 } %}
        </button>
    </div>
</div>