<div class="max-w-screen-lg mx-auto">
    <div class="space-y-6 px-edge">
    <h2 class="text-3xl font-hairline tracking-wide font-headline">Address</h2>  
    {% include "_component/_hr" %}
    <p class="flex space-x-1 text-gray-500">
        {% include "_component/_icon" with {'icon': 'icon-map-pin'} %}
        <span>{{ entry.spaContactAddress }}</span>
    </p>
    </div>
    <div class="mt-8 -mx-screen-lg">
    {{ entry.spaContactMap.embed({
        id: 'map',
        markers: [{}],
        options: {
            disableDefaultUI: false,
            draggable: true,
        },
    }) }}
    </div>
</div>


<style>
#map {
    width: 100%;
}
</style>