{% extends "_layout/_generic" %}

{# set 404 page content model #}
{% if entry is not defined %}
    {% set entry = craft.entries.uri('404').one() %}
{% endif %}

{# try to find matching entry first #}
{% set lastSeg =  craft.app.request.segments|last %}
{% set entriesQuery = craft.entries
    .section('story')
    .slug(lastSeg)
%}
{% if entriesQuery.count %}
{% redirect url(entriesQuery.one().url) %}
{% endif %}


{# ------------------ if no matching try searching ------------------ #}
{% block main %}
<section class="max-w-screen-xl mx-auto text-center p-edge">
    <h1 class="font-hairline text-7xl font-display">404</h1>
    <p>Page not founded.</p>
</section>

{% include "_search/_search" with {"showControl": false, "q": lastSeg } %}

{% endblock %}