{% embed "_containers/_container" with {'breakpoint': 'lg' } %}
	{% block content %}
        <div class="flex flex-col items-center mt-32 space-y-8">
            {% include "_components/_hr" %}
		    <blockquote class="text-3xl tracking-wide text-center font-display md:text-4xl">
                {{ block.quote }}
            </blockquote>
            {% if block.cite is not empty %}<cite class="text-lg not-italic text-gray-500">{{ block.cite }}</cite>{% endif %}
            {% include "_components/_hr" %}
        </div>

	{% endblock %}
{% endembed %}

