<section class="mt-16 tracking-tight prose prose-lg font-sans-display md:prose-xl text-primary-700" data-sal="slide-up">
    {% include "_stories/_components/_rich-text-editor" with {'richTextEditor': block.richTextEditor} %}
</section>

