{% set listicleContent %}
	{% block listicle %}{% endblock %}
{% endset %}


{% embed "_containers/_container" with {'breakpoint':'lg' } %}
{% block content %}
	<div class="flex flex-col justify-end pt-16 md:flex-row">
	
	{% if entry.storyListicleNumbering %}
	<div class="w-full pt-4 border-t md:w-1/12 border-primary-300">
		<span class="inline-block text-6xl tracking-wide font-display" style="font-variant-numeric: diagonal-fractions;"><span class="text-primary-500">{{ listicleNumber }}</span><span class="text-gray-300">/{{ listicleCount }}</span></span>
	</div>
	{% endif %}

	<div class="w-full md:pt-4 md:border-t md:w-10/12 lg:w-8/12 md:border-primary-300" >
		<h2 class="inline-block mb-4 text-3xl tracking-wide md:mt-6 font-headline">{{ block.heading }}</h2>
		{{ listicleContent }}
        {% include "_stories/_components/_rich-text-editor" with {'richTextEditor': block.richTextEditor} %}
	</div>

</div>
{% endblock %}
{% endembed %}

