
{% if block.story %}
{% embed "_containers/_container" with {'breakpoint':'md'} %}
{% block content %}
    <div class="pt-32 divide-y divide-primary-300">
    <h3 class="pb-4 font-serif text-xl italic font-medium">Continue Reading: </h3>
    {% for entry in block.story %}
        <div class="w-full py-6">
            {% include "_stories/_components/_story-card" with {
                'entry': entry,
                'layout': 'list sm:list',
                'size': 'sm',
                'byline': false
            } %}
        </div>
    {% endfor %}
    </div>  
{% endblock %}
{% endembed %}
{% endif %}