{% embed "_containers/_container" with {'breakpoint':'lg'} %}
{% block content %}
    <section class="flex flex-row justify-end mt-16 md:space-x-16">
        {% include "_stories/_components/_rich-text-editor" with {'richTextEditor': block.richTextEditor} %}
    </section>
{% endblock %}
{% endembed %}

