<aside id="search" class="fixed inset-0 z-50 flex flex-col overflow-y-auto transition duration-300 transform -translate-y-full">
    <div class="bg-white ">
        {% include "_search/_search" %}
    </div>
    <a class="flex-grow block " href="#"></a>
</aside>