<div class="flex flex-wrap">
	{% for image in gallery %}
	{% set aspect = image.width*300 / (image.height )  %}
	<div class="relative m-1" style="width:{{ aspect }}px ;flex-grow:{{ aspect }}">
		{% include "_components/_imager" with { 'image' : image } %}
	</div>
	{% endfor %}
	{# <div class="m-1 " style="flex-grow: 999999999; min-width: 200px;"></div> #}
</div>