{% if slider %}
<div class="mb-16 js-swiper-listicle-shop-carousel swiper-container">
	<div class="swiper-wrapper">
		{% for slide in slider %}
			{% include "_stories/_components/_single-product.twig" %}
		{% endfor %}
	</div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>
{% endif %}


