{% if slider %}
<div class="mb-16 js-swiper-simple-slider swiper-container">
	<div class="swiper-wrapper">
		{% for slide in slider %}
        <a class="swiper-slide" href="{{ slide.hyperlink  }}">
            {% include "_components/_imager" with {'image': slide.heroImage[0] } %}
            <p class="mt-2">{{ slide.description }}</p>
        </a>
		{% endfor %}
	</div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	<div class="max-w-screen-lg mt-8">
		<div class="h-1 swiper-scrollbar"></div>
	</div>
</div>
{% endif %}