{% embed "_containers/_container" %}
{% block content %}
<div class="flex flex-col items-end space-y-4 md:space-y-0 md:flex-row -mx-edge">
    <a class="w-full md:w-2/3" href="{{ entry.url }}">
        <div class="hidden md:block -ml-screen-xl ">
            {% include "_components/_imager" with { image: entry.storyHeroImage[0], w: 16, h: 9} %}
        </div>
        <div class="block md:hidden">
            {% include "_components/_imager" with { image: entry.storyHeroImage[0], w: 8, h: 9} %}
        </div>
    </a>
    <div class="w-full px-6 space-y-2 md:w-1/3 md:pl-6 md:pr-0">
         <div class="space-x-4">
            {% include "_categories/_category-tag" with { category : entry.storyCategory } %}
            {% include "_categories/_category-tag" with { category : entry.storyPrintIssue } %}
        </div>
        <a class="space-y-4" href="{{ entry.url }}">
            <h1 class="text-4xl font-hairline leading-tight tracking-wide md:text-5xl font-display">{{ entry.title }}</h1>
            {% include "_components/_hr" %}
            <p class="text-base">{{ entry.storyStandfirst }}</p>
        </a>
    </div>
</div>
{% endblock %}
{% endembed %}