<section class="mt-8">
    {% include "_categories/_category-tag" with { 'category': entry.storyCategory} %}
    <h1 class="text-4xl font-hairline leading-tight md:text-5xl font-display">{{ entry.title }}</h1>
    <h2 class="mt-4 font-sans text-lg text-gray-700 md:text-xl">{{ entry.storyStandfirst }}</h2>
    <div class="mt-4">
        {% if entry.storyByline %}
        {% include "_users/_short-profile" with { 'user' : entry.storyByline[0], 'date' : entry.postDate } %}
        {% else %}
        <span class="text-gray-500">By AsiaSpa</span>
        <span class="block mt-1 text-gray-500">{{ entry.postDate | date("M d, Y") }}</span>
        {% endif %}
    </div>
</section>
<section class="mt-8 -mx-edge lg:m-0 js-step transition duration-300 {% if not sprig.include %}lg:opacity-0 {% endif %}">
    <div class="{{ sideCar }}">
        {% include "_components/_imager" with { 'image':entry.storyHeroImage[0], 'zoom':true, 'mode':'fit' } %}
    </div>
</section>
