<section class="flex flex-col pt-16 transition duration-300 js-step md:opacity-0 md:invisible">
     <div class="{{ sideCar }}">
		{% include "_story/_component/_gallery" with {'gallery':block.gallery} %}
	</div>
</section>