<section class="mt-16" data-sal="slide-up">
	{% if entry.storyListicleNumbering %}
	<div class="inline-block mr-4">
		<span class="text-5xl font-hairline md:text-6xl text-primary-500 font-display ">{{ listicleNumber }}</span>
		<span class="font-sans text-base">/ {{ listicleCount }}</span>
	</div>
	{% endif %}
	<h2 class="inline-block mt-4 text-3xl font-hairline tracking-wide md:text-4xl font-headline">{{ block.heading }}</h2>
</section>
<section class="flex flex-col transition duration-300 js-step md:opacity-0 md:invisible">
     <div class="{{ sideCar }}">
		{% block listicle %}{% endblock %}
	</div>
</section>
<section class="mt-8" data-sal="slide-up">
	<div class="font-serif prose md:prose-lg">
		{% include "_story/_component/_rich-text-editor" with {'richTextEditor': block.richTextEditor} %}
	</div>
</section>
