{% set adQuery = craft.adWizard.ads
    .group(adgroup)
    .orderBy('Rand()')
    .onlyValid()
 %}
{% if adQuery.count() %}
{% set ad = adQuery.one() %}

<div class="flex justify-center my-16">
    {{ ad.displayAd() }}
</div>

{% endif %}