{% if user %}
<a class="flex items-center" href="{{ url('/user/' ~ user.username) }}">
    <div class="w-16 h-16 mr-4 overflow-hidden rounded-full" >
        {% include "_component/_imager" with { image : user.photo ?? '' , w : 1, h : 1 } %}
    </div>
    <div>
        <p class="leading-none text-gray-900">{{ user.fullName }}</p>
        {% if date %}
        <p class="mt-2 text-gray-500">{{ date | date("M d, Y") }}</p>
        {% endif %}
    </div>
</a>
{% endif %}