{# ------------------- Query ------------------- #}

{# get pinned entries ids #}
{% set entriesIds = [] %}
{% for entry in block.pinnedStories %}
{% set entriesIds = entriesIds | merge([entry.id]) %}
{% endfor %}

{# fill source enteries ids #}
{% set entriesIdsString = entriesIds | join(', not ') %}
{% set source = block.entriesFromCategory ?? (block.entriesFromPrintIssue ?? block.entriesFromTag) %}

{% set sourceEntriesIds = craft.entries
    .relatedTo(source)
    .id('and, not ' ~ entriesIdsString)
    .limit(8 - entriesIds | length )
    .ids
%}

{# merge to get 12 entries #}
{% set entriesIds = entriesIds | merge(sourceEntriesIds) %}

{% set entriesQuery = craft.entries
    .section('story')
    .id(entriesIds)
    .with([
        'storyHeroImage',
        'storycategory',
        'storyPrintIssue',
        'storyByline',
        'author'
    ])
%}

{% set entries = entriesQuery.all() %}

{# ------------------- Content ------------------- #}
{% embed "_containers/_container" %}
{% block content %}
    <div class="mt-16 mb-8">
        <h3 class="inline-block py-2 font-serif text-2xl border-b-2 lg:text-3xl border-primary-500">{{ block.heading }}</h3>
    </div>
{% endblock %}
{% endembed %}

<div class="mb-16 swiper-container px-screen-xl">
	<div class="swiper-wrapper">
		{% for entry in entries %}
			{% if entry.storyHeroImageSetLandscape %}
			<div class="w-3/4 swiper-slide sm:w-1/2 md:w-2/3 lg:w-1/2">
				{% include "_stories/_story-card" with { 'entry': entry, 'landscape': true} %}
			</div>
			{% else %}
			<div class="w-3/4 swiper-slide sm:w-1/2 md:w-1/3 lg:w-1/4" >
				{% include "_stories/_story-card" with { entry: entry } %}
			</div>
			{% endif %}
		{% endfor %}
	</div>
	{# <div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div> #}
	<div class="max-w-screen-lg mt-8">
		<div class="h-1 swiper-scrollbar"></div>
	</div>
</div>


{# ------------------- Record ID ------------------- #}
{# {% set excludeIds = excludeIds|merge([entriesIds])%}
{{ dump(excludeIds)}} #}