{% set images = entry.asiaspaAwardsHeroGallery %}

<section class="flex flex-col items-center max-w-screen-xl pt-16 mx-auto lg:space-x-16 lg:flex-row px-edge"> 
    <div class="w-full pt-8 space-y-8 lg:w-1/3 ">
        <div class="flex items-center space-x-6">
            <div class="w-24">
                {% include "_component/_imager" with {'image': entry.asiaspaAwardsLogo[0] ?? null } %}
            </div>
            <div class="w-3/4">
                <h1 class="text-5xl font-hairline leading-none text-white font-display">
                    <span class="block">AsiaSpa</span>
                    <span class="block">Awards</span>
                    <span class="block">2020</span>
                </h1>
            </div>
        </div>
        <div class="font-serif text-base font-light text-white md:text-lg">
            {{ entry.asiaspaAwardsIntroAwards}}
        </div>
        <a href="#awards" class="text-white border-white  {{ include("_style/_button") }}">
            <span>Browse Awards Categories</span>
            {% include "_component/_icon" with {'icon': 'arrow-right-48'} %}
        </a>

        {# <span class="flex items-center self-start pt-8 pb-8 space-x-4 text-white md:pt-32 justify">
            {% include "_award/_component/_scroll" %}
            <span>Meet the Judges</span>
        </span> #}
    </div>
    <div class="w-full lg:w-2/3">
        <div class="grid grid-cols-3 gap-4 py-8 " data-sal="slide-up">
            <div class="self-end pl-8" >
                {% include "_component/_imager" with {'image': images[0] ?? null, w:1, h:1} %}
            </div>
            <div class="col-span-2">
                {% include "_component/_imager" with {'image': images[1] ?? null, 'mode': 'fit'} %}
            </div>
            <div class="col-span-2">
                {% include "_component/_imager" with {'image': images[2] ?? null, w:9, h:8} %}
            </div>
            <div class="self-start pr-8">
                {% include "_component/_imager" with {'image': images[3] ?? null, w:16, h:19 } %}
            </div>
        </div>
    </div>
    
</section>
