<div class="space-y-4">   
    <h2 class="text-2xl font-hairline tracking-wide font-headline md:text-3xl">Details</h2>
    {% include "_components/_hr" %}
    <div class="font-serif prose">
    {{ entry.spaRichTextEditor}}
    </div>
</div>