{% extends "_layouts/_generic" %}

{% block main %}

<section class="justify-center max-w-screen-lg mx-auto mt-16 p-edge ">
    <h1 class="text-4xl font-hairline leading-tight md:text-5xl font-display">{{ entry.title }}</h1>
    {% include "_pages/_page-builder" with {'matrix': entry.pageBuilder } %}
</section>

{% endblock %}