{% extends "_layouts/_html/_web" %}

{% block bodyClass %}{% endblock %}

{% block layout %}
{# ------------------- Header ------------------- #}
{% block beginBody %}{% endblock %}
{% include "_components/_header" %}

{# ------------------- Main  ------------------- #}
<main>
    {% block main %}
    {% endblock %}
</main>

{# ------------------- Footer ------------------- #}
{# {% include "_components/_footer" %} #}

{% endblock %}