{% extends "_layouts/_html/_web" %}

{% block layout %}
{# ------------------- Header ------------------- #}
{% block beginBody %}{% endblock %}

{# ------------------- Main  ------------------- #}
{% set headerNodes = craft.navigate.raw('header ') %}

{% include "_components/_nav" %}
{% include "_components/_spa" %}

{% include "_components/_header" %}
<main>
    {% block main %}
    {% endblock %}
</main>


{# ------------------- Footer ------------------- #}
{% include "_components/_footer" %}

{% endblock %}