{% extends "_layout/_framework/_web" %}

{% block layout %}
{# ------------------- Main  ------------------- #}
{% include "_layout/_component/_nav" %}
{% include "_layout/_component/_spa" %}

{# {% include "_layouts/_components/_promotion" %} #}
{% include "_layout/_component/_header" %}

<main>
    {% block main %}
    {% endblock %}
</main>

{# ------------------- Footer ------------------- #}
{% include "_layout/_component/_footer" %}

{% endblock %}