{% extends "_layout/_frame/_web" %}

{% set currentPageType = entry.getSection().handle | default(entry.getSection().handle ?? null) %}

{% block layout %}
{# ------------------- Aside ------------------- #}

{% if  currentPageType != 'search' and currentPageType != 'error' %}
    {% include "_layout/_component/_search" with {'isAside': true } %}
{% endif %}


{# {% include "_spa/_aside"  ignore missing %} #}

{# {% include "_layouts/_components/_promotion" %} #}

{# ------------------- Layout  ------------------- #}
{% include "_layout/_component/_header" %}

<main>
    {% block main %}
    {% endblock %}
</main>

{# ------------------- Footer ------------------- #}
{% if currentPageType != 'Story' %}
    {% include "_layout/_component/_footer" %}
{% endif %}

{% endblock %}