{% extends "_layout/_frame/_web" %}

{% block layout %}
{# ------------------- Main  ------------------- #}
{% include "_layout/_component/_nav" %}
{% include "_spa/_aside" %}

{# {% include "_layouts/_components/_promotion" %} #}
{% include "_layout/_component/_header" %}

<main>
    {% block main %}
    {% endblock %}
</main>

{# ------------------- Footer ------------------- #}
{% set section = entry.getSection() | default(entry.getSection() ?? null) %}
{% if section != 'Story' %}
    {% include "_layout/_component/_footer" %}
{% endif %}

{% endblock %}