{% extends "_layout/_frame/_web" %}

{% set currentPageType = entry.getSection() | default(entry.getSection() ?? null) %}

{% block layout %}
{# ------------------- Aside ------------------- #}
{% if currentPageType != 'Search' %}
    {% include "_layout/_component/_search" %}
{% endif %}


{# {% include "_spa/_aside"  ignore missing %} #}

{# {% include "_layouts/_components/_promotion" %} #}

{# ------------------- Layout  ------------------- #}
{% include "_layout/_component/_header" %}

<main>
    {% block main %}
    {% endblock %}
</main>

{# ------------------- Footer ------------------- #}
{% if currentPageType != 'Story' %}
    {% include "_layout/_component/_footer" %}
{% endif %}

{% endblock %}