<!DOCTYPE html>
<html class="no-js" lang="{{ craft.app.sites.currentSite.language | default('en') }}">

<head>
    {# -------------------  meta ------------------- #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>AsiaSpa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    {% include '_snippets/_branding' %}

    <link rel="stylesheet" href="{{ rev('/dist/app.css') }}">

    {# -------------------  temp ------------------- #}
    {# use typekit to get font in #}
    <link rel="stylesheet" href="https://use.typekit.net/xus1aud.css">
    
</head>

<body class="antialiased">
    {% include "_components/_header" %}
    {# ------------------- main  ------------------- #}
    <main>
        {% block main %}
        {% endblock %}
    </main>
    
    {# ------------------- footer  ------------------- #}
    {# <footer style="position: absolute; bottom: 0; width:100vw; height: 64px; text-align:center; background: #f2f2f2; vertical-align:center;">
        <bold style="padding-top:24px;">Asiaspa Footer</bold>
    </footer>
     #}
</body>

</html>