<section class="py-16 my-16 bg-gray-300">
	<div class="px-6 pb-16 mx-auto lg:px-0 lg:max-w-screen-lg">
		<div class="font-serif text-3xl lg:text-4xl">
				{{ 'Ad Blook Placement'|t }}
		</div>
	</div>
</section>

