<section class="mt-32 bg-secondary-300">
    <div class="grid max-w-screen-lg grid-cols-1 mx-auto md:grid-cols-2"> 
        <div class="py-16 mr-16 space-y-6 transform -translate-y-16 md:mr-0 p-edge bg-secondary-100">
        {% include "_components/_newsletter" %}
        </div>
        <div class="grid grid-cols-2 gap-6 p-edge">       
            <div class="flex col-span-2 space-x-6 s">
                <a>{% include "_components/_icon" with { 'icon':'icon-logo-facebook', 'w': 24, 'h': 24} only %}</a>
                <a>{% include "_components/_icon" with { 'icon':'icon-logo-instagram', 'w': 24, 'h': 24 } only %}</a>
                <a>{% include "_components/_icon" with { 'icon':'icon-logo-linkedin', 'w': 24, 'h': 24 } only %}</a>
            </div>
            <div class="flex flex-col space-y-4">
                <a>Advertise With Us</a>
                <a>Contact Us</a>
            </div>        
            <div class="flex flex-col space-y-4">
                <a>Privacy Policy</a>
                <a>Terms & Conditions</a>
            </div>        
            <div class="col-span-2">
                <span>© 2020 Copyright AsiaSpa site by Two2.Press </span>
            </div>
        </div>
    </div>
</section>