{% set nodes = craft.navigation.nodes()
    .handle('megamenu')
    .level(1)
    .all()
%}

<header class="flex justify-between h-16 bg-gray-100 w-100">
    <div class="">Asiaspa Logo</div>

    <div class="container">
        <ul class="flex">
            {% nav node in nodes %}
                <li class="p-4">
                    {{ node.link }}
                </li>
            {% endnav %}
        </ul>
    </div>
    
    <ul class="flex">
        <li><a class="p-4" href="#search">Right hand list</a></li>
        {# <li><a class="p-4" href="#follow">Follow</a></li> #}
        {# <li><a class="p-4" href="#spa-locator">Spa Locator</a></li> #}
    </ul>
</header>