{% set caption = caption ?? '' %}

{% set h = h | default(image.getHeight ?? 9 ) %}
{% set w = w | default(image.getWidth ?? 8 ) %}
{% set aspect = w / h %}
{% set x = x | default(image.focalPoint.x ?? '0.5') %}
{% set y = y | default(image.focalPoint.y ?? '0.5') %}


{% if image | length %}

{% set transformedImages = craft.imager.transformImage(
    image, 
    [{ width: 160 },{ width: 1920 }], 
    { ratio: aspect }, 
    { fillTransforms: true }) 
%}

<figure>
    <div class="relative w-full overflow-hidden bg-primary-100" style="padding-bottom: {{ 1/aspect*100 }}%">
        <img class="absolute w-full h-full lazyload pin"
            src="{{ transformedImages | first }}" 
            srcset="{{ transformedImages | first }}" 
            data-srcset="{{ transformedImages | srcset }}"
            data-sizes="auto"
        />
    </div>
    {% if caption %}
    <figcaption class="relative block text-sm italic text-gray-700">{{ caption|default('this is caption') }}</figcaption>
    {% endif %}
</figure> 

{% else %}
<div class="relative w-full overflow-hidden bg-gray-100" style="padding-bottom: {{ 1 / aspect * 100 }}%">
    <div class="absolute w-full h-full pin object-fit-cover"></div>
</div>

{% endif %}
