<aside id="spa" class="fixed inset-0 z-50 overflow-y-auto transition duration-300 transform -translate-y-full bg-secondary-100">
    <div class="max-w-screen-xl mx-auto px-edge">
        <div class="relative z-20 flex justify-between w-full">
            <a class="block h-16 py-4" href="{{ siteUrl }}">
                {% if website.websiteLogoSimple | length %}
                    <img class="block w-auto h-full" src="{{ rev(website.websiteLogoSimple[0].url()) }}"/>
                {% else %}
                    <span class="h-8 p-4 text-xl font-semibold tracking-tight">{{ siteName }}</span>
                {% endif %}
            </a>
            <div class="flex h-16 py-4">
                <a href="#">CLOSE</a>
            </div>
        </div>
    </div>

</aside>