 <div class="flex py-8 border-b border-gray-300">   
    <div class="w-4/12 mr-6 md:w-3/12 lg:w-2/12" >
        {% include "_components/_imager" with { image : entry.storyHeroImage[0] ?? '', w : 8, h : 9 } %}
    </div>
    <div class="w-8/12 md:w-9/12 lg:w-10/12">
        <div class="flex space-x-2">
            {% include "_components/_category-tag" with { category : entry.storyCategory } %}
            {% include "_components/_category-tag" with { category : entry.storyPrintIssue } %}
        </div>
        <h4 class="font-serif text-xl leading-tight md:text-2xl">{{ entry.title }}</h4> 
        <p class="text-gray-900">{{ entry.storyStandfirst ?? "This should be a Standfirst" }}</p>
        <span class="text-sm text-gray-700">{{ entry.postDate | date("M d, Y") }}, by {{ entry.author.fullName }}</span>
    </div>
</div>