{% minify %}
{# -------------------  query ------------------- #}

{% set offset = offset ?? 0 %}
{% set limit = limit ?? 5 %}

{% set query = craft.entries({
    section : 'story',
    offset: offset,
    limit: limit,
    with: [
        'author',
        'storyHeroImage',
        'storyCategory',
        'storyPrintIssue',
        'storyCampaign'
    ]
}) %}

{% set entries = query.all() %}
{% set totalEntries = query.count() %}
{% set totalPages = (totalEntries / limit) | round(0, 'ceil') %}

<div class="flex flex-col items-start max-w-screen-lg px-6 mx-auto md:flex-row lg:px-0">
    <div class="w-full mr-0 md:mr-16 md:w-2/3 lg:w-3/4">
        {% for entry in entries %}
            {% include "_components/_story-listing" with {entry: entry } %}
        {% endfor %}
    </div>
    <div class="sticky w-full md:w-1/3 lg:w-1/4" style="top: 80px">
        {% include "_components/_imager" with {image: ''} %}
    </div>
</div>
{% include "_components/_ad-section" %}

{# =================== Load more widget ======================== #}
{% if entries %}
	<div s-target="this" s-swap="outerHTML">
		<input type="hidden" name="offset" value="{{ offset + limit }}">
		<button sprig>Load another</button>
	</div>
{% endif %}




{% endminify %}