{#  TODO:
    ! user routing

    ! Collect exclude IDs 
    ! Make story carousel, story gallery to accept multiple entries source (becomes tab)
    ! Add Multicategory widget (tatler reference)
    ! Add Trending widget (allure.com reference)
    ! Add Newsletter widget
    ! Add Spa Locator widget
    ! Add Subscription widget
    ! Add Print issue widget

    !text-underline using background style (https://codyhouse.co/ds/components/app/text-background-effects)
#}

{% extends "_layouts/_generic" %}

{# -------------------  query ------------------- #}
{% do craft.app.elements.eagerLoadElements(className(entry), [entry], [
        'homeHeroStory',
        'homeHeroStory.storyHeroImage',
        'homeHeroStory.storyCategory',
        'homeHeroStory.storyPrintIssues',
        'homeHeroStory.storyTag',
        'homeHeroStory.storyByline',
]) %}

{# -------------------  Content  ------------------- #}
{% block main %}
{% if entry.homeHeroStory %}
{# logo #}
{% embed "_containers/_container"%}
{% block content %}
<div class="flex flex-row items-end">
    <div class="w-3/4 sm:w-1/2 md:w-1/3">
        <div class="relative z-10 " style="transform:translateY(35%)">
         {% if website.websiteLogo | length  %}
            <img class="block w-auto h-full"
                 src="{{ rev(website.websiteLogo[0].url()) }}" />
        {% endif %}
        </div>
    </div>
    <div class="hidden text-right md:block md:w-full">
        {# subscribe to magazine  #}
    </div>
</div>
{% endblock %}
{% endembed %}

{# hero image #}
{% include "_stories/_components/_story-hero" with {'entry': entry.homeHeroStory[0] } %}
{% endif %}


{% include "_pages/_layout-builder" with {'matrix': entry.layoutBuilder } %}
{{ sprig('_categories/_story-filter') }}

{% endblock %}