{% profile 'beforeimport' %}
{% set nodes = craft.navigation.nodes()
    .handle('header')
    .level(1)
    .all()
%}

<ul class="lg:flex-grow">
    {% nav node in nodes %}
    <li class="lg:inline-block">
        <a class="block p-4 text-2xl transition duration-300 lg:text-xl h-min-16 lg:inline-block hover:text-primary-500"
            href="{{ node.url }}">{{ node.title }}</a>
    </li>
    {% endnav %}
</ul>


{% endprofile %}