{% extends "_layout/_empty" %}

{% block main %}


<div>
    <span>This form use sprig to ajax load </span>
        {{ sprig("_ajax-form")}}
</div>
<hr/>
<div >
    <span>This form use import to load </span>
        {% include "_ajax-form" %}
</div>  

{% endblock %}