<html>

<head>
</head>

<body>
{% set form = craft.formie.forms({ handle: 'asiaspaAwardsNominationForm' }) %}

{% include "_component/_form" with {'form':form} %}



{# {{ craft.formie.renderForm('asiaspaAwardsNominationForm') }} #}

</body>

</html>