{% extends "_layout/_empty" %}

{% block main %}


 <div>
    <span>This form use sprig to load  </span>
        {{ sprig("_ajaxform")}}
    </div>
    {# <div >
    <span>This form use import to load  </span>
        {% include "_ajaxform" %}
    </div>   #}

{% endblock %}