{% extends "_layout/_site" %}



{% block main %}
{# main section #}
<section class="relative h-16 w-100">
    {# backdrop #}
    <div class="absolute bottom-0 left-0 w-8/12 h-full bg-primary-100"></div>
    <div class="relative flex max-w-screen-xl mx-auto bg-gray-100 align center">
        <div class="w-1/2">
            <span>image</span>
        </div>
        <div class="w-1/2">
            <span>cotnent</span>
        </div>
    </div>
    
</section>



<section class="container mx-auto">
    {{ sprig('_components/_story-pagination', {limit: 5}) }}
    {{ sprig.script }}
</section>




{% endblock %}