{# {% extends craft.app.request.isAjax() and not craft.app.request.getIsPreview()
    ? "_layout/_ajax.twig"
    : "_layout/_web.twig"
%} #}

{% extends "_layouts/_generic" %}


{# ------------------- Eager Loading ------------------- #}
{% do craft.app.elements.eagerLoadElements(
    className(entry),
    [entry],
    ['indexHeroEntry', 
    'indexHeroEntry.storyHeroImage',
    'indexFeaturedCampaign',
    'indexFeaturedCampaign.campaignFeaturedStory.storyHeroImage',
    'indexFeaturedCampaign.campaignFeaturedStory.storyCategory',
    'indexFeaturedCampaign.campaignFeaturedStory.author',
    'indexFeaturedCampaign.campaignFeaturedStory.author.photo'
    ]
) %}


{% block main %}
{# ------------------- Hero Story ------------------- #}
{% include "_components/_story-hero" with { entry:entry.indexHeroStory[0] ?? craft.entries.one() } %}

{# ------------------- Campaign Slider------------------- #}
<section class="w-full h-auto py-16">
  {# <div class="grid max-w-screen-lg grid-cols-4 mx-auto">
    {% for entry in craft.entries.limit(10).all() %}
      {% include "_components/_story-card" with { entry: entry } %}
    {% endfor %}
  <div> #}



  {# listing slider #}
<div class="my-32">
  <div class="swiper-container p-x-max-screen-lg">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
      {% for entry in craft.entries.limit(10).all() %}
        <div class="swiper-slide" style="max-width:300px">
          {% include "_components/_story-card" with { entry: entry } %}
        </div>
      {% endfor %}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
  </div>
</section>


<section class="container mx-auto">
  {{ sprig('_components/_story-pagination', {limit: 5}) }}
</section>


{% endblock %}