{% extends "_layouts/_empty" %}

{# -------------------  query ------------------- #}
{% do craft.app.elements.eagerLoadElements(className(entry), [entry], [ 
        'asiaspaAwardsIntroGallery',
        'asiaspaAwardsJudges.profilePic',
        'asiaspaAwardsOtherJudges.profilePic',
        'asiaspaAwardsSponsorship:logo',
]) %}

{% block main %}
<div class="w-full min-h-screen pb-64 bg-black ">
{% include "_awards/_components/_header" %}
{% include "_awards/_components/_intro" %}
{% include "_awards/_components/_categories" %}
{% include "_awards/_components/_judges" %}
{% include "_awards/_components/_sponsorship" %}
</div>

{% include "_awards/_components/_enter" %}
{% include "_awards/_components/_nominations" %}
{% include "_awards/_components/_winners" %}

{% endblock %}