<aside id="enter" class="fixed inset-0 z-50 overflow-y-auto transition duration-300 transform -translate-y-full bg-black">
    <div class="fixed top-0 z-20 w-full transition duration-300 bg-black border-b border-gray-500">
        <div class="flex flex-row items-center justify-between h-20 max-w-screen-xl mx-auto text-white px-edge ">
            <a class="leading-tight" href="{{ siteUrl}}">AsiaSpa<br/>Awards<br/>2020</a>
            <span>Enter the AsiaSpa Awards 2020</span>
            <a class="text-white" href="#">Close</a>
            </div>
        </div>
    </div>

   <section class="max-w-screen-md pt-32 mx-auto px-edge" data-sal="slide-down"> 
        <h1 class="text-5xl font-hairline leading-none text-white font-display">
            <span class="block">Enter</span>
            <span class="block">The</span>
            <span class="block">Awards</span>
        </h1>
        <div class="pt-16 font-sans text-base font-hairline tracking-wide text-white ">{{ entry.asiaspaAwardsIntroEnter}}</div>
    </section>

    <section class="max-w-screen-md pt-16 mx-auto px-edge" data-sal="slide-down"> 
        <div class="pt-16 font-sans text-base font-hairline tracking-wide text-white ">
        {{ 'enable form here' |t }}
        </div>
    </section>
</nav>