
<section class="flex flex-row max-w-screen-md py-32 mx-auto px-edge"> 
    <div class="w-2/3">
        <h1 class="font-hairline leading-none text-white text-8xl font-display">
        <span class="block">AsiaSpa</span>
        <span class="block">Awards</span>
        <span class="block">2020</span>
        </h1>
        <div class="pt-16 font-serif text-lg font-light text-white md:text-2xl">
            {{ entry.asiaspaAwardsIntroAwards}}
        </div>
    </div>
    <div class="w-1/2">
        <div class="js-swiper-vertical-loop swiper-container">
            <div class="swiper-wrapper">
                <div class="w-64 h-64 swiper-slide bg-primary-100">Slide 1</div>
                <div class="w-64 h-64 swiper-slide bg-primary-100">Slide 1</div>
                <div class="w-64 h-64 swiper-slide bg-primary-100">Slide 1</div>
                <div class="w-64 h-64 swiper-slide bg-primary-100">Slide 1</div>
                <div class="w-64 h-64 swiper-slide bg-primary-100">Slide 1</div>
                <div class="w-64 h-64 swiper-slide bg-primary-100">Slide 1</div>
                <div class="w-64 h-64 swiper-slide bg-primary-100">Slide 1</div>
                <div class="w-64 h-64 swiper-slide bg-primary-100">Slide 1</div>
                <div class="w-64 h-64 swiper-slide bg-primary-100">Slide 1</div>
                <div class="w-64 h-64 swiper-slide bg-primary-100">Slide 1</div>
            </div>
        </div>
    </div>

    
</section>
{# 
<section class="relative pt-16 js-swiper-carousel swiper-container px-screen-lg">
    <h1 class="absolute inset top-50 trasnform -translate-y-50">ABC</h1>
    <div class="swiper-wrapper">
        {% for image in entry.asiaspaAwardsIntroGallery %}
        <div class="w-3/4 md:w-1/2 swiper-slide" data-sal="slide-left">
            {% include "_components/_imager" with {'image': image, 'h':9, 'w':8 } %}
        </div>
        {% endfor %}
    </h1>
</section> #}
