<section class="max-w-screen-md pt-32 mx-auto px-edge" data-sal="slide-up"> 
    <h1 class="text-5xl font-hairline leading-none text-white font-display">
        <span class="block">The</span>
        <span class="block">Judges</span>
    </h1>
    <div class="pt-16 font-sans text-lg font-light tracking-wide text-white md:text-2xl">
    {{ entry.asiaspaAwardsIntroJudges}}
    </div>
</section>

<section class="max-w-screen-md pt-16 mx-auto px-edge" data-sal="slide-up">
    <h3 class="mb-8 text-xl text-center text-white text-headline">The AsiaSpa Team</h3>
    <div class="grid grid-cols-2 gap-8 sm:grid-cols-4 ">
        {% for user in entry.asiaspaAwardsJudges %}
            {% include "_awards/_components/_user-profile" %}
        {% endfor %}
        {% for user in entry.asiaspaAwardsJudges %}
            {% include "_awards/_components/_user-profile" %}
        {% endfor %}
    </div>
</section>
<section class="max-w-screen-lg pt-16 mx-auto px-edge" data-sal="slide-up">
    <h3 class="mb-8 text-xl text-center text-white text-headline">The Expertise</h3>
    <div class="grid grid-cols-3 gap-8 sm:grid-cols-6 ">
                {% for user in entry.asiaspaAwardsJudges %}
            {% include "_awards/_components/_user-profile" %}
        {% endfor %}
        {% for user in entry.asiaspaAwardsJudges %}
            {% include "_awards/_components/_user-profile" %}
        {% endfor %}
                {% for user in entry.asiaspaAwardsJudges %}
            {% include "_awards/_components/_user-profile" %}
        {% endfor %}
        {% for user in entry.asiaspaAwardsJudges %}
            {% include "_awards/_components/_user-profile" %}
        {% endfor %}
                {% for user in entry.asiaspaAwardsJudges %}
            {% include "_awards/_components/_user-profile" %}
        {% endfor %}
        {% for user in entry.asiaspaAwardsJudges %}
            {% include "_awards/_components/_user-profile" %}
        {% endfor %}
                {% for user in entry.asiaspaAwardsJudges %}
            {% include "_awards/_components/_user-profile" %}
        {% endfor %}
        {% for user in entry.asiaspaAwardsJudges %}
            {% include "_awards/_components/_user-profile" %}
        {% endfor %}
    </div>
</section>