
<div class="flex flex-col items-center flex-1 w-full space-y-1 text-center" data-tippy-content="{{ user.userBio }}">
    <div class="flex-none w-32 h-32 overflow-hidden rounded-full" >
        {% include "_components/_imager" with { image : user.profilePic[0] ?? '' , w : 1, h : 1 } %}
    </div>
    <p class="text-base tracking-wide text-white font-headline">{{ user.judgesName }}</p>
    <p class="font-sans text-sm tracking-wide text-gray-500">{{ user.judgesTitle }}</p>
</div>