{% if category | length %}
{% for category in category if category.level == 1 %}
<a class="block font-sans-display text-bg text-primary-700"
   href="{{ category.url }}">{{ category.title}}</a>
{% endfor %}
{% endif %}