{% extends "_layouts/_generic" %}

{% block main %}
{% embed "_containers/_container" %}
{% block content %}
    <h1 class="py-4 font-serif text-lg lg:text-xl">{{ category.title }}</h1>
{% endblock %}
{% endembed %}

{% include "_categories/_layout-builder" with {'matrix': category.layoutBuilder } %}

{{ sprig('_categories/_story-pagination', {categoryId: category.id}) }}
{% endblock %}
