{# TODO: category filtering #}

{# {% set categoryId = categoryId ?? null %} #}
{# 
<button sprig 
        s-vars="categoryId: ''">{{ 'All'|t }}</button>
{% for category in categories %}
<button sprig 
        s-vars="categoryId: {{ category.id }}, offset: 0">{{ category.title }}</button>
{% endfor %} #}

{{ sprig('_categories/_story-pagination') }}
