{# TODO: 
    ! move Ad variable into global variable settings 
    ! add subscription box if there is no ad
    ! get away with the divider method
#}  

{% minify %}
{# -------------------  query ------------------- #}
{% set categoryId = categoryId ?? null %}
{% set offset = offset ?? 0 %}
{% set limit = limit ?? 5 %}

{% set entriesQuery = craft.entries({
    relatedTo: categoryId,
    section : 'story',
    offset: offset,
    limit: limit,
    with: [
        'storyHeroImage',
        'storyCategory',
        'storyPrintIssue',
        'storyByline'
    ]
}) %}

{% set entries = entriesQuery.all() %}

{# -------------------  content  ------------------- #}


{% embed "_containers/_container"%}
{% block content %}
<div class="flex items-start my-12 md:space-x-6 lg:space-x-12">
    <div class="flex-grow divide-y divide-primary-300">
        {% for entry in entries %}
            <div class="py-6"> 
                {% include "_stories/_components/_story-card" with {
					'entry': entry,
					'layout': 'widecard sm:widelist md:widelist lg:widelist',
					'size': 'lg',
					'byline': true	
				} %}

            </div>
        {% endfor %}
    </div>
    <div class="sticky hidden md:block " style="top:96px;" >
    {% include '_components/_adblock' with {'adgroup': global.globalSidebarAdgroup ?? ''} %}
    </div>
</div>
{% endblock %}
{% endembed %}

{# =================== Load more Ad ======================== #}
{% if entries %}
<div s-target="this" s-swap="afterend" sprig s-trigger="revealed">
{% include '_components/_adblock' with {'adgroup': global.globalPaginationAdgroup ?? ''} %}
    <input type="hidden" name="offset" value="{{ offset + limit }}">
</div>
{% endif %} 

{% endminify %}