// lazyload effect
.lazyload,
.lazyloading {
	// filter: blur(8px);
	opacity: 0;
	// transform: scale(1.05);
	transition: opacity .3s ease-out;
}
.lazyloaded {
	// filter: blur(0px);
	opacity: 1;
	transition: opacity .3s ease-out ;
}