{% if entries %}

<section class="max-w-screen-xl mx-auto px-edge">
    <div class="flex items-start my-12 md:space-x-6 lg:space-x-12">
        <div class="flex-grow space-y-10 md:space-y-6">
            {% for entry in entries %}
                {% include "_story/_component/_story-card" with {
                    'entry': entry,
                    'layout':'card sm:widelist md:widelist lg:widelist',
                    'size': 'lg',
                    'byline': true	
                } %}
            {% endfor %}
        </div>
        <div class="sticky flex-none hidden md:block top-8"  >
            {% include '_component/_adblock' with {'adgroup': ['or', ad.adHalfPage, ad.adMediumRectangle] } %}
        </div>
    </div>
</section>

{{ offset }}
 
{# =================== Load more Ad ======================== #}
{% if loop > 0 %}

<div s-target="this" s-swap="afterend" sprig s-trigger="revealed">
{% include '_component/_adblock' with {'adgroup': ['or', ad.adBillboard, ad.adLeaderboard]} %}
    <input type="hidden" name="offset" value="{{ offset + limit }}">
    <input type="hidden" name="loop" value="{{ loop - 1 }}">
</div>

{% else %}

 <button sprig s-vars="offset: {{ offset + limit }}" 
    s-target="this" s-swap="outerHTML">
    <div class="">
        <span>Load More</span>
        {% include "_component/_icon" with {'icon': 'icon-arrow-right', h:48, w:48} %}
    </div>
  </button>

{% endif %}

{% endif %} 