{% extends "_layouts/_generic" %}

{# -------------------  query ------------------- #}
{% do craft.app.elements.eagerLoadElements(className(entry), [entry], [
        'spaLogo',
        'spaGallery',
        'spaService:image'
]) %}

{% block main %}

{% include "_spas/_components/_intro" %}
{% include "_spas/_components/_gallery" %}
<section class="flex flex-col items-start max-w-screen-lg mx-auto mt-16 md:flex-row p-edge md:space-x-6">
    <div class="w-full md:w-2/3">
        {% include "_spas/_components/_rich-text-editor" %}
        {% include "_spas/_components/_service" %}
    </div>
    <div class="sticky w-full top-8 md:w-1/3">
    {% include "_spas/_components/_contact" %}
    </div>
</section>
{% include "_spas/_components/_map" %}
{% include "_spas/_components/_relation" %}
{% endblock %}
