{% if entry %}
<div class="w-full space-y-1">
    <p class="text-lg font-light leading-tight tracking-wide font-headline">{{ entry.title }}</p>
    <p>{{ entry.spaContactMap.parts.country }}</p>
    <p>{{ entry.spaContactMap.lat }}</p>
    <p>{{ entry.spaContactMap.lng }}</p>
</div>
{% endif %}