@tailwind base;
@tailwind components;

// vendor
@import "_vendors/_lazysizes";
@import "_vendors/_swiper-vars";
@import "_vendors/_swiper";

// custom
@import "_components/_edge-spacing";
@import "_components/_text-background";

body {
    font-weight: var(--font-sans-regular);    
}
.font-serif {
    font-weight: var(--font-serif-regular);
}
.font-sans {
    font-weight: var(--font-sans-regular);
}


@tailwind utilities;