@tailwind base;
@tailwind components;

// vendor
@import "_lazysizes/_lazysizes";
@import './node_modules/sal.js/src/sal';
@import "_swiper/swiper-vars";
@import "_swiper/swiper";
@import "_swiper/components/navigation/navigation";
@import "_swiper/components/pagination/pagination";
@import "_swiper/components/scrollbar/scrollbar";
@import "_swiper/components/thumbs/thumbs";
@import "_swiper/swiper-custom";

// custom
@import "_components/_edge-spacing";
@import "_components/_text-background";


// fix
.medium-zoom-image--opened  { z-index: 99;}

body {
    font-weight: 300;
    // height: 100vh;
    // overflow: hidden;
}

main {
    // height:100%;
    // overflow: auto;
}

#nav,#aside {
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0; 
    right: 0;
    left: 0;
    transition: transform .3s ease;
    overflow-y: auto;
    &:target {
        transform: translateY(0) translateX(0);
    }
}

#nav {
    transform: translateY(-100%);
}

#aside {
    transform: translateX(-100%);
}


@tailwind utilities; 