{# ! aspect ratio #}

{{ block.embed.render({
    
        hidecaption: true
    
}) | replace({'data-instgrm-captioned': ''}) | raw }}
<p class="text-sm font-hairline text-gray-500">{{ block.caption }}</p>
{# {{ block.embed.render | raw }} #}