<section class="max-w-screen-lg mx-auto my-16 m">
	<div class="flex flex-wrap">
        {% set rows = block.gallery.all()  %}
        {% for row in rows %}
        {% set aspect = row.image.one().width*300 / (row.image.one().height )  %} 
		<div class="relative m-1" style="width:{{ aspect }}px ;flex-grow:{{ aspect }}">
            {% include "_components/_imgix" with {image : row.image.one(), ratio : row.image.one().width / row.image.one().height , caption : '' } %}
		</div>
		{% endfor %}
		{# <div class="m-1 " style="flex-grow: 999999999; min-width: 200px;"></div> #}
	</div>
</section>
