{% if slider %}
<div class="relative w-full p-edge">
	<div class="js-swiper-image-slider swiper-container">
		<div class="swiper-wrapper">
			{% for slide in slider %}
			<div class="swiper-slide">
				{% include "_component/_imager" with {'image': slide, 'zoom':true, 'caption': true} %}
			</div>
			{% endfor %}
		</div>
		<div class="flex items-center justify-end">
			<button class="swiper-prev">
				{% include "_component/_icon" with { 'icon':'arrow-left-48' } %}
			</button>
			<div class="relative bottom-0 inline w-auto mx-4 swiper-pagination swiper-pagination-fraction"></div>
			<button class="swiper-next">
				{% include "_component/_icon" with { 'icon':'arrow-right-48' } %}
			</button>
		</div>
	</div>
</div>
{% endif %}