<a class="flex flex-col justify-between h-auto mb-4 space-y-4 swiper-slide" href="{{ slide.hyperlink }}" target="_blank">
	<div class="space-y-4">
		{% if slide.image %}
			{% include "_component/_imager" with {'image': slide.image[0], w:8, h:9 } %}
		{% endif %}
		<h3 class="text-xl tracking-wide font-headline">{{ slide.itemName }}</h3>
		{% if slide.description is not empty %}<p>{{ slide.description }}</p>{% endif %}
	</div>
	<div class="flex items-center justify-between mt-4 border-b border-black">
		<span class>Shop now</span>
	    {% include "_component/_icon" with { 'icon':'arrow-right-48' } %} 
	</div>
</a>