{% set query = query ?? '' %}
{% set entries = entries ?? [] %}
{% set coordinates = [] %}

{% if query %}
{% set entriesIds = [] %}

{# get list of entries #}
{% set entriesIds = craft.entries 
    .title('*' ~ query ~ '*')
    .ids() %}

{% set locationIds = craft.entries
    .section('spa')
    .spaContactMap({
        location: query,
        radius: 100,
        unit: 'm',
    })
    .orderBy('distance')
    .ids() %}

{% set entriesIds = entriesIds | merge(locationIds) %}
{% set entries = craft.entries.id(entriesIds).all() %}

{# get list of corrdinates #}
{% for entry in entries %}
{% if not loop.last %}
{% set coordinates = coordinates | append('{lat: ' ~ entry.spaContactMap.lat ~ ', lng:' ~ entry.SpaContactMap.lng ~'}, ') %}
{% else %}
{% set coordinates = coordinates | append('{lat: ' ~ entry.spaContactMap.lat ~ ', lng:' ~ entry.SpaContactMap.lng ~'}') %}
{% endif %}
{% endfor %}

{% endif %}

<div class="flex flex-row w-full h-screen " id="results">
    <div class="w-1/2 h-full bg-primary-300 p-edge">
        <input sprig
               s-trigger="keyup changed delay:500ms"
               class="w-full px-3 py-2 appearance-none "
               s-target="#results"
               s-swap="outerHTML"
               type="search"
               name="query"
               value="{{ query }}" />
        <div>
            <ul>
                {% for entry in entries %}
                <li>{{ entry.title }}</li>
                {% endfor %}
            </ul>
                <ul>
            </ul>
        </div>
    </div>
    <div class="w-1/2 h-full" id="spa-map">

    </div>
</div>
