
{% if block.story %}
<section class="mt-8 bg-secondary-100 -mx-edge px-edge">
    <div class="max-w-screen-lg py-8 mx-auto">
        <h3 class="pb-2 text-xl font-light tracking-wide font-headline">{{ "Related Stories" |t }}</h3>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 ">
        {% for entry in block.story %}
            {% include "_story/_component/_story-card" with {
                'entry': entry,
                'layout': 'list sm:card md:list lg:card',
                'size': 'sm',
                'standfirst': false,
                'byline': false
            } %}
        {% endfor %}
        </div>  
    </div>
</section>
{% endif %}