{% if entry | length %}
 <section class="bg-primary-300">
    {% embed "_containers/_container" with {'class':'bg-primary-300'} %}
    {% block content %}
        <div class="flex flex-col -mx-6 lg:mx-0 lg:py-16 lg:space-x-12 lg:flex-row"> 
            <div class="w-full lg:p-0 lg:w-7/12">
                <a href="{{ entry.url }}">
                {% include "_components/_imager" with { image : entry.assetUploadSingleImage[0] ?? '', w:4, h:3} %}
                </a>
            </div>
            <div class="self-center w-full px-6 pt-6 pb-12 lg:p-0 lg:w-5/12">
                <div class="flex space-x-6">
                    {% include "_components/_category-tag" with { category : entry.categorySingleCategory } %}
                    {% include "_components/_category-tag" with { category : entry.categorySinglePrintIssue } %}
                </div>
                <a href="{{ entry.url }}">
                    <h1 class="font-serif text-3xl font-medium leading-tight tracking-tight lg:text-4xl xl:text-5xl ">{{ entry.title }}</h1>
                    <hr class="block w-32 my-6 border-t-2 border-primary-500" />
                    <h2 class="mb-4 text-lg lg:text-xl color-gray-900">{{ entry.contentStandfirst }}</h2>
                </a>
                {% include "_components/_user" with { user : entry.userSingleUser[0] ?? entry.author, date : entry.postDate } %}
            </div>
        </div>
    {% endblock %}
    {% endembed %}
</section>
{% endif %}