<section class="max-w-screen-lg px-6 mx-auto my-12 font-serif">
    <div class="flex flex-row justify-end">
        <div class="prose prose-lg md:prose-xl text-serif">
            {{ block.richTextEditor }}
        </div>
    </div>
</section>